.home-main-row{
    margin-top: 50px;
    padding-top: 150px;
    padding-left: 10px;
    background-color: rgb(243,245,250);

}

.home-title{

    font-size: 40px;
    font-weight: bolder;

}

.home-image{
    width: 100%;
    height: auto;
    margin-bottom:150px;
}

.home-text{
    text-align: justify;
    padding-top: 10px ;
    padding-bottom: 30px ;
}