.home-main-row{
    margin-top: 50px;
    padding-top: 150px;
    background-color: rgb(243,245,250);

}

.home-title{

    font-size: 40px;
    font-weight: bolder;

}

.home-image{
    width: 100%;
    height: auto;
    margin-bottom:50px;
}

.home-text{
    text-align: justify;
}