.vehicles-text{
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
}

.image{
    width:100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

.vehicles-text2{
    font-size: 16px;
    font-weight: bold;
    text-align: center;

}

.vehicles-text3{
    font-size: 14px;
    text-align: center;
}